<template>
    <div class="centerx">
        <vs-button radius @click="openModal=true" color="dark" type="border" id="btn-openModal" icon="add"></vs-button>
        <vs-popup classContent="popup-example" id="popup-model"  title="Novo usuário" :active.sync="openModal">
            <form class="centerx" id="form-model" @submit.prevent="submit">
                <vs-input label-placeholder="Nome da usuário" color="dark" v-model="user.name" required/>
                <vs-input type="email" label-placeholder="E-mail da usuário" color="dark"
                          :danger="error.email" danger-text="O e-mail é obrigatório" 
                          v-model="user.email" required/>
                <vs-button v-on:click="send" type="border" color="dark" vs-w="6" class="save">Salvar</vs-button>
            </form>
        </vs-popup>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                error: {
                    email: false,
                    name: false,
                },
                user: {
                    id: null,
                    name: '',
                    email: '',
                },
                openModal: false,
            }
        },
        methods: {
            checkForm: function (e) {
                if (this.user.name && this.user.email) {
                    return true;
                }
                
                this.errors = [];

                if (!this.user.name) {
                    this.error.name = true;
                }
                if (!this.user.email) {
                    this.error.email = true;
                }

                console.log("errors", this.error);

                // e.preventDefault();
            },
            send: function(){

                if(!this.checkForm())
                    return false;

                let formData = objToFormData(this.user);

                let url = '/iapi/user';
                let event = 'user-created';
                let toast_message = 'Usuário cadastrada com sucesso';

                if(this.user.id != null){
                    url += '/'+this.user.id;
                    event = 'user-updated';
                    toast_message = 'Usuário editada com sucesso';
                }

                axios.post(url, formData).then(response => {
                    let user = response.data;
                    
                    vueToast(toast_message, 'success');

                    this.$eventHub.$emit(event, {
                        id: user.id,
                        name: user.name,
                        email: user.email
                    });

                    this.clean();
                    this.openModal = false;
                }).catch(error => {
                    console.error(error);
                });
            },
            clean: function(){
                this.user = {
                    name: '',
                    email: '',
                };
                this.error = {
                    email: false,
                    name: false,
                };
            }
        },
        created() {
            let me = this;
            this.$eventHub.$on('edit-user', function(id)
            {
                me.openModal = true;
                axios.get('/iapi/user/'+id).then(response => {
                    let user = response.data;
                    me.user.id = user.id;
                    me.user.name = user.name;
                    me.user.email = user.email;
                });
            });
        }
    }
</script>

<style>

  pre {
    width: 100%;
    color: rgba(255, 255, 255,.8);
  }

</style>