
<template>
    <section id="users">
    <vs-table
      :data="users">
      <template slot="header">
        <h3>
          Usuários
        </h3>
      </template>
      <template slot="thead">
        <vs-th>
          Email
        </vs-th>
        <vs-th>
          Name
        </vs-th>
      </template>

      <template slot-scope="{data}">
        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" >
          <vs-td :data="tr.email">
            {{tr.email}}
          </vs-td>

          <vs-td :data="tr.username">
            {{tr.name}}
          </vs-td>

          <template class="expand-user" slot="expand">
            <div class="con-expand-users">
              <div class="con-btns-user">
                <div class="con-userx">
                  <vs-avatar size="45px" :src="`https://randomuser.me/api/portraits/women/${indextr}.jpg`"/>
                  <span>
                    {{ tr.name }}
                  </span>
                </div>

                <div>
                  <vs-button vs-type="border" v-on:click="edit(tr.id)" size="small" icon="create"></vs-button>
                  <!-- <vs-button vs-type="gradient" size="small" color="success" icon="send"></vs-button> -->
                  <vs-button vs-type="flat" v-on:click="openConfirmRemove(tr.id)" size="small" color="danger" icon="delete_sweep"></vs-button>
                </div>
              </div>
              <vs-list>
                <vs-list-item icon="mail" title="Email" :subtitle="tr.email"></vs-list-item>
              </vs-list>
            </div>
          </template>
        </vs-tr>
      </template>
    </vs-table>
    </section>
</template>
<script>
    export default {
        data() {
            return {
                users: [],
                activeConfirm:false
            }
        },
        methods: {
            getUsers: function(){
                axios.get('/iapi/user?limit=2000').then(({ data }) => {
                    data.forEach(user => {
                        this.users.push(user);
                    });
                });
            },
            edit: function(id){
                this.$eventHub.$emit('edit-user', id);
            },
            openConfirmRemove(id){
                let user_id = id;
                let me = this;
                this.$vs.dialog({
                    type:'confirm',
                    color: 'danger',
                    title: `Excluir usuário?`,
                    text: 'Você deseja excluir esta usuário?',
                    accept: this.remove,
                    parameters: user_id,
                })
            },
            remove(id){
                if(id != null){

                    axios.delete('/iapi/user/'+id).then(response => {
                        if(response.status == 200) {
                            vueToast('Usuário excluida com sucesso!', 'success');
                            let pos = this.users.map((e) => e.id).indexOf(id);
                            
                            if(pos != null)
                                this.users.splice(pos, 1);
                        }
                        else 
                            vueToast('Erro ao excluir o usuário', 'danger');
                    });
                    
                }
            },
        },
        created() {
            let me = this;
            this.getUsers();

            // LISTINERS
            this.$eventHub.$on('user-created', function(user){
                me.users.push(user);
            });
            this.$eventHub.$on('user-updated', function(user){
                let pos = me.users.map((e) => e.id).indexOf(user.id);
                Vue.set(me.users, pos, user);
            });
        }
    }
</script>