<style>
.card-slide-version
{
    width: 100%;
}

@media (min-width: 1200px) 
{   
  .card-slide-version
  {
      width: 50%;
  }
}

.card-title 
{
  word-wrap: inherit !important;
}

@media (min-width: 100px) and (max-width: 600px) {
  .con-vs-chip
  {
    font-size: 0.7rem !important;
  }
}

.versions 
{
  padding: 15px !important;
}

.con-vs-chip 
{
  font-size: 0.9rem !important;
}
</style>

<template>
  <section id="version">
    <v-layout 2 align-center justify-center fill-height  class="mt-3">
    <v-card flat tile class="card-slide-version">
      
      <v-window 
        flat
        v-model="onboarding"
        :touchless="true"
        :continuous="true"
        >
        <v-window-item v-for="photo of photos" v-bind:key="photo.id">
          
          <v-card color="grey" flat>
            <v-layout align-center justify-center fill-height tag="v-card-text">
          
              <v-img 
                class="logo img-fluid"
                :src="photo.url"
                style="max-width: 450px !important; max-height: 250px !important;"
                 lazy-src="https://s2.glbimg.com/f63MNW7-vM39Q9tgRZvQx5l8amM=/620x443/s.glbimg.com/po/tt/f/original/2012/11/05/fundo_transparente.png"
                >
                </v-img> 
            </v-layout>
          </v-card>

        </v-window-item>
      </v-window>

      <v-card-actions class="justify-space-between" justify-center row style="justify-content: center;">
        <v-btn text @click="prev">
          <v-icon>keyboard_arrow_left</v-icon>
        </v-btn>
        <v-item-group v-model="onboarding" class="text-center" mandatory>
          <v-item v-for="n in photos.length" :key="`btn-${n}`" v-slot:default="{ active, toggle }">
            <v-btn :input-value="active" icon @click="toggle">
              <v-icon>minimize</v-icon>
            </v-btn>
          </v-item>
        </v-item-group>
        <v-btn text @click="next">
          <v-icon>keyboard_arrow_right</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
    </v-layout>
    <v-layout column wrap class="detail-info align-content-center">
        <v-flex md3 xs12 md12>
            <h2 class="title">{{ version.name }}</h2>
     
            <h5 class="title">{{ version.years[0] }} - {{ version.years[1] }}</h5>
        </v-flex>
        <v-flex md3 xs12 >
            <img :src="brand.logo" aspect-ratio="1" />
        </v-flex>
    </v-layout>
     <v-layout>
        <v-flex xs12 sm12 md12 class="mx-5" align-center justify-center>        
          <v-breadcrumbs :items="items">
            <template v-slot:divider>
              <v-icon>mdi-chevron-right</v-icon>
            </template>
          </v-breadcrumbs>
        </v-flex>
      </v-layout>
      
      <v-layout style="text-align:center;">
        <v-flex xs12 sm12 md12 class="mx-5" align-center justify-center>
          <v-chip center small v-on:click="toogleOrder()">
            <v-icon center>swap_vert</v-icon>
          </v-chip>
        </v-flex>
      </v-layout>
     <v-layout fill-height>
        <section id="sub_versions">
          <div class="fill-row">
            <div class="card-columns animated-cards" id="card-list-versions">
              <v-card flat v-for="subversion in subversions" v-bind:key="subversion.id" class="mr-5">
                <v-card flat class="car card text-center">
                  <div class="card-top">
                    <a :href="goToOnly(subversion)" style="display: inline-block;">
                      <img class="card-img-top" v-bind:src="subversion.url"/>
                      {{subversions.url}}
                      <!-- <img class="card-img-top" v-bind:src="subversion.photos.url"/> -->
                    </a>
                    <span style="font-size: large;" class="card-title mt-5">{{ subversion.name }}</span>
                  </div>
                  <v-card flat class="card-body">
                    <v-layout column justify-center align-center>
                      <v-flex md6>
                        <v-btn
                          class="custom-btn2"
                          v-on:click="edit(subversion.id)"
                          fab
                          outlined
                          small
                          color="grey"
                        >
                          <v-icon class="custom-btn2">create</v-icon>
                        </v-btn>
                        <v-btn
                          class="custom-btn2"
                          v-on:click="deleteItem(subversion.id)"
                          fab
                          outlined
                          small
                          color="grey"
                        >
                          <v-icon class="custom-btn2">delete</v-icon>
                        </v-btn>

                        <v-btn
                          class="custom-btn2"
                          v-on:click="gallery(subversion.id)"
                          fab
                          outlined
                          small
                          color="grey"
                        >
                          <v-icon class="custom-btn2">insert_photo</v-icon>
                        </v-btn>
                      </v-flex>
                    </v-layout>
                  </v-card>
                </v-card>
              </v-card>
            </div>
          </div>
        </section>
      </v-layout>
    <Delete ref="Delete" />
  </section>
</template>

<script>
import Delete from "../Dialogs/Delete";
export default {
  components: { Delete },
  data() { 
    return {
      onboarding  : 0, 
      order       : 'asc',
      car         : {},
      brand       : {},
      items       : [],
      photos      : [],
      subversions : [],
      
      version: 
      {
        name: "",
        years: []
      },
    };
  },
  methods: {
    deleteItem: function(id) 
    {
      this.$refs.Delete.open(
        id,
        "esta",
        "subversão",
        this.acceptRemove.bind(this)
      );
    },

    acceptRemove: function(id) 
    {
      if (id != null) 
      {
        axios.delete("/iapi/subversion/" + id).then(response => {
          vueToast("Subversão excluida com sucesso!", "success");
          let pos = this.subversions.map(e => e.id).indexOf(id);
          if (pos != null) this.subversions.splice(pos, 1);
        });
      }
    },

    next: function() 
    {
      this.onboarding =
        this.onboarding + 1 === this.photos.length ? 0 : this.onboarding + 1;
    },

    prev: function() 
    {
      this.onboarding =
        this.onboarding - 1 < 0 ? this.photos.length - 1 : this.onboarding - 1;
    },

    edit: function(id) 
    { 
      let fn = this.initialize.bind(this);
      this.$eventHub.$emit("edit-subversion", id, fn);
    },

    goToOnly: function(subversion) 
    { 
      return "/subversion/detail?subversion=" + subversion.id;
    },

   

    getBreadCrumb: function()
    {
      axios.get("/iapi/site/breadcrumb/version/"+urlParams.version, {})
           .then(({ data }) => {
            data.forEach(crumb => {
              this.items.push({
                text: crumb.name,
                href: crumb.url
              });
            });
          });
    },

    toogleOrder: function() 
    {
      if (this.order == "asc") this.order = "desc";
      else if (this.order == "desc") this.order = "asc";
      this.getSubVersion();
    },

    buildUrlGet: function() 
    {
      let url = "/iapi/subversion?limit=2000";
      url += "&" + window.location.search.substring(1);
      url += "&order=" + this.order;
      return url;
    },

    getSubVersion: function()
    { 
      let url = this.buildUrlGet();
      this.subversions = [];
      axios.get(url, {
        params: 
        {
          version_id: urlParams.version
        }
      })
      .then(({ data }) => {
        data.forEach(subversion => {
          this.subversions.push(subversion);
          this.getVersion(subversion);
        });
      });
    },

    getVersion: function()
    {
      axios.get('/iapi/version/'+urlParams.version).then(({ data }) => {
        this.version = data;
        this.getCar(this.version);
      });
    },

    getPhotos: function()
    { 
      axios.get('/iapi/version/' + urlParams.version+'/photos').then(({ data }) => {
        this.photos = data;
      });
    },

    getCar: function()
    {
      axios.get('/iapi/car/' + this.version.car_id).then(({ data }) => {
        this.car = data;
      });
    },

    getBrand: function()
    {
      axios.get('/iapi/brand/' + this.car.brand_id).then(({ data }) => {
        this.brand = data;
      });
    },

    initialize(){
      this.getSubVersion();
      this.getPhotos();
    },

    gallery: function(id) {
      let fn = this.initialize.bind(this);
      this.$eventHub.$emit("open-subversion-gallery", id, fn);
    },

  },
  created() {
    this.getSubVersion();
    this.getBreadCrumb();
    this.getPhotos();
    let me = this;

    // LISTINERS
    this.$eventHub.$on("subversion-created", function(subversion) {
      me.subversions.push(subversion);
    });

    this.$eventHub.$on("subversion-updated", function(subversion) {
      let pos = me.subversions.map(e => e.id).indexOf(subversion.id);
      Vue.set(me.subversions, pos, subversion);
    });
  }
  
};
</script>