
<style>
img {
  max-width: 300px !important;
  float: left;
}
</style>


<template>
  <!-- <vs-row>
        <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
            <div class="centerx">
                 <vs-button radius @click="openModal=true" color="dark" type="border" id="btn-openModal" icon="add"></vs-button> 
                <vs-popup fullscreen classContent="popup-example" id="popup-model"  title="Galeria" :active.sync="openModal">
                    
                    <form @submit.prevent="submit">
                      <vs-row>
                        <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                          <div class="centerx">
                            <label for='image' type="border" class="vs-component vs-button vs-button-dark vs-button-border" >Selecionar um arquivo &#187;</label>
                            <vs-input id='image' multiple type='file' accept="image/*" @change="previewFile" name="image[]"/>
                          </div>
                        </vs-col>
                      </vs-row>

                      <div v-for="file in currentFiles" v-bind:key="file">
                        <img class="card-img-top" v-bind:src="renderImg(file)">
                      </div>

                      <vs-row>
                        <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                          <vs-button v-on:click="sendPhotos" type="border" color="dark" vs-w="6" class="save">Salvar</vs-button>
                        </vs-col>
                      </vs-row>
                    </form>

                    <vs-divider>Imagens ja cadastradas</vs-divider>

                    <div v-for="photo in photos" v-bind:key="photo.id">
                        <div class="photos">
                          <img class="card-img-top" v-bind:src="photo.url">
                          <vs-button class="btn-delete" color="danger"  icon="close" v-on:click="openConfirmRemove(photo.id)"></vs-button>
                        </div>
                    </div>

                </vs-popup>
            </div>
      </vs-col>
  </vs-row>-->

  <vs-row>
    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
      <div class="centerx">
        <v-dialog v-model="openModal" persistent max-width="1100px">
          <v-card outlined fill-height>
            <v-card-title class="headline mt-2">Galeria</v-card-title>
            <v-divider class="mb-2" />

            <form @submit.prevent="submit">
              <vs-row>
                <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                  <div class="centerx">
                    <label
                      for="image"
                      type="border"
                      class="vs-component vs-button vs-button-dark vs-button-border"
                    >Selecionar um arquivo &#187;</label>
                    <vs-input
                      id="image"
                      multiple
                      type="file"
                      accept="image/*"
                      @change="previewFile"
                      name="image[]"
                    />
                  </div>
                </vs-col>
              </vs-row>

              <div v-for="file in currentFiles" v-bind:key="file">
                <img class="card-img-top ml-4" v-bind:src="renderImg(file)" />
              </div>

              <vs-row>
                <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                  <v-btn
                    rounded
                    small
                    outlined
                    class="custom-btn mt-2"
                    @click="sendPhotos"
                  >Confirmar</v-btn>
                </vs-col>
              </vs-row>

              <vs-divider>Imagens ja cadastradas</vs-divider>

              <vs-row>
                <v-card class="ml-3" flat v-for="photo in photos" v-bind:key="photo.id">
                  <div class="photos">
                    <img class="card-img-top" v-bind:src="photo.url" />
                    <vs-button
                      class="btn-delete"
                      color="danger"
                      icon="close"
                      v-on:click="deleteItem(photo.id)"
                    ></vs-button>
                  </div>
                </v-card>
              </vs-row>
            </form>
            <v-divider />

            <v-layout style="justify-content: flex-end" class="mb-3 mr-2">
              <v-btn rounded small outlined class="custom-btn2" @click="close">Fechar</v-btn>
            </v-layout>
          </v-card>
        </v-dialog>
      </div>
    </vs-col>
    <Delete ref="Delete" />
  </vs-row>
</template>

<script>
import Delete from "../Dialogs/Delete";
export default {
  components: { Delete },
  data() {
    return {
      errors: [],
      photos: [],
      currentFiles: [],
      version_id: null,
      openModal: false,
      fn: null,
    };
  },
  methods: {
    deleteItem(id) {
      this.$refs.Delete.open(id, "esta", "foto", this.remove.bind(this));
    },

    close() {
      this.openModal = false;
      this.fn();
    }, 

    getPhotos: function(e) {
      this.photos = [];
      axios
        .get("/iapi/version/" + this.version_id + "/photos?limit=2000")
        .then(({ data }) => {
          data.forEach(photo => {
            this.photos.push(photo);
          });
        });
    },
    renderImg: function(file) {
      return URL.createObjectURL(file);
    },
    previewFile: function(e) {
      let me = this;

      me.currentFiles = [];

      for (let file of e.target.files) {
        me.currentFiles.push(file);
      }
    },
    openConfirmRemove(id) {
      let photo_id = id;
      this.$vs.dialog({
        type: "confirm",
        color: "danger",
        title: `Excluir Foto?`,
        text: "Você deseja excluir esta foto?",
        accept: this.remove,
        parameters: photo_id
      });
    },
    remove(id) {
      let me = this;
      if (id != null) {
        axios.delete("/iapi/photo/" + id).then(response => {
          vueToast("Foto excluida com sucesso!", "success");
          let pos = me.photos.map(e => e.id).indexOf(id);
          if (pos != null) me.photos.splice(pos, 1);
        });
      }
    },
    sendPhotos: function() {
      let formData = new FormData();
      for (let key in this.currentFiles) {
        formData.append("image[" + key + "]", this.currentFiles[key]);
      }

      axios
        .post("/iapi/version/" + this.version_id + "/upload", formData)
        .then(({ data }) => {
          data.forEach(photo => {
            this.photos.push(photo);
          });
          this.currentFiles = [];
        });
    }
  },
  created() 
  {
    
    let me = this;
    this.$eventHub.$on("open-version-gallery", function(id, fn) {
      me.openModal = true;
      me.version_id = id;
      me.getPhotos();
      me.fn = fn;
    });
    
  }
};
</script>
<style>
.btn-delete {
  position: relative;
  border-radius: 100px;
  margin-left: 1%;
  margin-top: 1%;
}
.photos {
  margin-left: 5px !important;
}
</style>