
<template>
  <vs-row>
    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
      <div class="centerx">
        <vs-button
          radius
          @click="openModal=true"
          color="dark"
          type="border"
          id="btn-openModal"
          v-on:click="clean()"
          icon="add"
        ></vs-button>
        <v-dialog v-model="openModal" persistent max-width="600">
          <v-card outlined>
            <v-card-title class="headline mt-2">Nova versão</v-card-title>
            <v-divider class="mb-2" />
            <form class="centerx" id="form-model" @submit.prevent="submit">
              <v-flex xs6sm6 md6 class="mx-auto mt-2">
                <v-text-field
                  v-model="version.name"
                  required
                  placeholder="Nome da versão"
                  rounded
                  autofocus
                  outlined
                ></v-text-field>
              </v-flex>
              <vs-row>
                <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                  <label style="color:black;">Anos da versão</label>
                </vs-col>
              </vs-row>
              <vs-row>
                <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                  <vs-chip color="dark" style="font-size: 1.2em;">
                    {{ years[0] }} - {{ years[1] }}
                  </vs-chip>
                </vs-col>
              </vs-row>
              <v-flex xs6 sm6 md12 class="mx-5" >
                  <vs-slider  color="dark" :min="minYear" :max="maxYear" v-model="years"/>
              </v-flex>
               <p v-if="errors.length">
                <b>Por favor, corrija o(s) seguinte(s) erro(s):</b>
                  <ul>
                      <li v-for="error in errors" v-bind:key="error">{{ error }}</li>
                  </ul>
               </p>  
              <v-divider />
            </form>
            <v-layout style="justify-content: flex-end" class="mb-3 mr-2">
              <v-btn rounded small outlined class="custom-btn2" @click="close">Cancelar</v-btn>
              <v-btn rounded small outlined class="custom-btn ml-1" @click="send">Confirmar</v-btn>
            </v-layout>
          </v-card>
        </v-dialog>
      </div>
    </vs-col>
  </vs-row>
</template>

<script>
export default {
  data() {
    return {
      errors: [],
      openModal: false,
      minYear: 1970,
      maxYear: currentYear() + 1,
      years: [currentYear() - 1, currentYear()],
      version: {
        name: "",
        car_id: "",
        cover: ""
      },
      fn: null,

    };
  },
  methods: {
    close(){
      this.openModal = false;
      this.fn();
    },
    send: function(e) {

      e.preventDefault;
      if (typeof urlParams.car != "undefined")
        this.version.car_id = urlParams.car;

      this.version.years = this.years;
      let form = this.version;

      let url = "/iapi/version";
      let event = "version-created";
      let toast_message = "Versão cadastrado com sucesso";

      if (this.version.id != null) {
        url += "/" + this.version.id;
        event = "version-updated";
        toast_message = "Versão editado com sucesso";
      }

      axios
        .post(url, form)
        .then(response => {
          let version = response.data;

          vueToast(toast_message, "success");

          this.$eventHub.$emit(event, version);

          this.clean();
          this.close();
        })
        .catch(error => {
          console.error(error);
        });
    },
    clean: function() {
      this.version = {
        name: "",
        car_id: ""
      };
      this.years = [currentYear() - 1, currentYear()];
    },
    validateYears: function() {
      if (this.years[0] == null) {
        this.years[0] = currentYear() - 1;
      }
      if (this.years[1] == null) {
        this.years[1] = currentYear();
      }
    },
    submit: function() {}
  },
  created() {
    let me = this;
    this.clean();
    this.$eventHub.$on("edit-version", function(id, fn) {
      me.openModal = true;
      axios.get("/iapi/version/" + id).then(response => {
        let version = response.data;
        me.version.id = version.id;
        me.version.name = version.name;
        me.version.year = version.year;
        me.version.car_id = version.car_id;
        me.years = version.years;
        me.validateYears();
        me.fn = fn;
      });
    });
  }
};
</script>
