<style>
  .v-breadcrumbs {
    text-align:center;
    display: block;
  }
</style>
<template>
  <v-container fluid fill-height>
    <v-layout column fill-height wrap>
      <v-layout>
        <v-flex xs12 sm12 md12 class="mx-5" align-center justify-center>        
          <v-breadcrumbs :items="items">
            <template v-slot:divider>
              <v-icon>mdi-chevron-right</v-icon>
            </template>
          </v-breadcrumbs>
        </v-flex>
      </v-layout>

      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md6 class="mx-5">
          <v-text-field
            placeholder="Buscar Versão"
            rounded
            v-model="searchVersion"
            autofocus
            outlined
            append-icon="search"
            class="searchField"
          ></v-text-field>
        </v-flex>
      </v-layout>
      

      <v-layout class="mx-auto">
        <v-flex xs6 sm6 md6 class="mx-1">
          <v-chip small v-on:click="toogleOrder()">
            <v-icon center>swap_vert</v-icon>
          </v-chip>
        </v-flex>

        <v-flex class="mx-1" xs6 sm6 md6  v-if="versions.length > 0">
          <v-chip small>
            <v-icon left>directions_car</v-icon>
            {{ versions.length }}
          </v-chip>
        </v-flex>
 
        <v-flex class="mx-1" xs6 sm6 md6  >
          <v-chip small @click="yearsDialog()">
            <v-icon left>calendar_today</v-icon>
            {{ year }}
            
          </v-chip>
        </v-flex>
      </v-layout>

      <v-layout fill-height>
        <section id="versions">
          <div class="fill-row">
            <div class="card-columns animated-cards" id="card-list-versions">
              <v-card flat v-for="version in versions" v-bind:key="version.id" class="mx-2">
                <v-card flat v-if="!version.hide" class="car card text-center">
                  <div class="card-top">
                    <a :href="goToOnly(version.id)" style="display: inline-block;">
                      <img class="card-img-top" v-bind:src="version.cover" />
                    </a>
                    <span style="font-size: large;" class="card-title mt-5">{{ version.name }}</span><br>
                    <span style="font-size: large;" class="card-title mt-5">{{ version.years[0] }} - {{ version.lastYear }}</span>
                  </div>
                  <v-card flat class="card-body" style="background-color: transparent !important">
                    <v-layout column justify-center align-center>
                      <v-flex md6>
                        <v-btn
                          class="custom-btn2"
                          v-on:click="edit(version.id)"
                          fab
                          outlined
                          small
                          color="grey"
                        >
                          <v-icon class="custom-btn2">create</v-icon>
                        </v-btn>
                        <v-btn
                          class="custom-btn2"
                          v-on:click="deleteItem(version.id)"
                          fab
                          outlined
                          small
                          color="grey"
                        >
                          <v-icon class="custom-btn2">delete</v-icon>
                        </v-btn>

                        <v-btn
                          class="custom-btn2"
                          v-on:click="gallery(version.id)"
                          fab
                          outlined
                          small
                          color="grey"
                        >
                          <v-icon class="custom-btn2">insert_photo</v-icon>
                        </v-btn>
                      </v-flex>
                    </v-layout>
                  </v-card>
                </v-card>
              </v-card>
            </div>
          </div>
        </section>
      </v-layout>

    </v-layout>
    <Delete ref="Delete" />
    <VersionsYear ref="VersionsYear" />
    
  </v-container>
</template>

<script>
import Delete from "../Dialogs/Delete";
import VersionsYear from "../Dialogs/VersionsYear";
export default {
  components: { Delete, VersionsYear },
  data() {
    return {
      year          : null,
      popupYears    : false,
      order         : "asc",
      searchVersion : "",
      lastYear      : '',
      items         : [],
      versions      : [],
    };
  },

  watch: {
    searchVersion: function() {
      let ret = new RegExp(this.searchVersion.toLowerCase());
      console.log("ret", ret);

      for (let version of this.versions) {
        version.hide = !version.name.toLowerCase().match(ret);
      }
      console.log("cars", versions);
    }
  },

  methods: {
    toogleOrder: function() 
    {
      if (this.order == "asc") this.order = "desc";
      else if (this.order == "desc") this.order = "asc";
      this.getVersions();
    },
    
    getBreadCrumb: function()
    {
      axios.get("iapi/site/breadcrumb/car/"+urlParams.car, {
      }).then(({ data }) => {
        console.log('CRUMB', data);
        console.log(urlParams);
        data.forEach(crumb => {
          this.items.push({
            text: crumb.name,
            href: crumb.url
          });
        });
      });
    },

    getVersions: function() 
    { 
      console.log('entrou aqui');
      let url = this.buildUrlGet();
      axios.get(url).then(({ data }) => {
        this.versions = [];
        data.forEach(version => {
          version.lastYear = version.years[version.years.length - 1];
          this.versions.push(version);
          this.getCar(version);
        });
      });
      console.log('versões: ',this.versions);
    },
    
    getCar: function(version)
    {
      axios.get('/iapi/car/' + version.car_id).then(({ data }) => {
        this.car = data;
      });
    },

    buildUrlGet: function() 
    {
      let url = "/iapi/version?limit=2000";
      url += "&" + window.location.search.substring(1);
      url += "&order=" + this.order;
      return url;
    },

    goToOnly: function(id) 
    {
      return "/version/detail?version=" + id;
    },

    edit: function(id) 
    {
      let fn = this.initialize.bind(this);
      this.$eventHub.$emit("edit-version", id, fn);
    },

    yearsDialog: function() {     
      this.$refs.VersionsYear.open(this.carId);
    },

    initialize: function() {
      let me = this;
      this.getVersions();
      
      // LISTINERS
      this.$eventHub.$on("version-created", function(version) {
        me.versions.push(version);

      });

      this.$eventHub.$on("version-updated", function(version) {
        let pos = me.versions.map(e => e.id).indexOf(version.id);
        Vue.set(me.versions, pos, version);
      });

    },

    gallery: function(id) {
      let fn = this.initialize.bind(this);
      this.$eventHub.$emit("open-version-gallery", id, fn);
    },

    deleteItem: function(id) 
    {
      this.$refs.Delete.open(
        id,
        "esta",
        "versão",
        this.acceptRemove.bind(this)
      );
    },

    acceptRemove: function(id) 
    {
      if (id != null) {
        axios.delete("/iapi/version/" + id).then(response => {
          vueToast("Versão excluida com sucesso!", "success");
          let pos = this.versions.map(e => e.id).indexOf(id);

          if (pos != null) this.versions.splice(pos, 1);
        })
        .catch(error => {
          vueToast(error.response.data.message, "warning");
        });
      }
    }
  },
  created() {
    let me = this;
    this.getVersions();
    this.getBreadCrumb();
    this.carId = urlParams.car;

    if (typeof urlParams.year === "undefined") {
      this.year = "Todos";
    } else {
      this.year = urlParams.year;
    }

    // LISTINERS
    this.$eventHub.$on("version-created", function(version) {
      me.versions.push(version);
    });
    this.$eventHub.$on("version-updated", function(version) {
      let pos = me.versions.map(e => e.id).indexOf(version.id);
      Vue.set(me.versions, pos, version);
    });
  }
};
</script>

<style>
.card-title {
  word-wrap: inherit !important;
}
@media (min-width: 100px) and (max-width: 600px) {
  .con-vs-chip {
    font-size: 0.7rem !important;
  }
}

.versions {
  padding: 15px !important;
}
.con-vs-chip {
  font-size: 0.9rem !important;
}
</style>