<template>
  <div class="text-xs-center">
    <v-dialog v-model="dialog" max-width="600" >
      <v-card outlined>
        <v-card-title class="headline">Excluir {{ it }}</v-card-title>
        <v-card-text>
          <v-divider class="mb-3" />

          <v-card-text>Você tem certeza que deseja excluir {{that }} {{ it }}?</v-card-text>

          <v-divider class="mb-3" />

        
            <v-layout class="justify-end">
              <v-btn rounded small outlined class="custom-btn2" @click="close">Cancelar</v-btn>

              <v-btn rounded small outlined class="custom-btn ml-1" @click="deleteUser">Confirmar</v-btn>
            </v-layout>
       
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "Delete",

  data() {
    return {
      dialog: false,
      valid: true,
      that: "",
      it: "",
      id: "",

      deleteFn: null
    };
  },

  methods: {
    open(id, that, it, fn) {
      this.dialog = true;
      this.id = id;
      this.that = that;
      this.it = it;
      this.deleteFn = fn;
    },

    close() {
      this.dialog = false;
    },

    async deleteUser() {
     this.deleteFn(this.id);
  
        this.close();

    }
  }
};
</script>

<style scoped>
.justify-end {
  justify-content: flex-end;
}
</style>