<template>
  <!-- Dialog Anos -->
  <v-dialog v-model="dialog" max-height="600px" max-width="600px">
    <v-card outlined max-height="600px" max-width="600px">
      <v-card-title class="mt-1 headline grey lighten-2" primary-title>Selecione o ano</v-card-title>
      <v-divider />
      <v-card-text>
        <v-flex class="ml-2 mb-3" xs10 sm10 md12>
          <v-btn
            class="custom-btn my-1"
            rounded
            outlined
            small
            min-width="77px"
            :href="urlToVersion(null)"
          >Todos</v-btn>
          <v-btn
            v-for="year in years"
            v-bind:key="year"
            class="custom-btn2 my-1 mx-1"
            rounded
            min-width="77px"
            outlined
            small
            :href="urlToVersion(year)"
          >{{year}}</v-btn>
        </v-flex>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "VersionsYear",

  data() {
    return {
      dialog: false,
      year: null,
      currentCar: null,
      years: [],
      id: null
    };
  },

  methods: {
    open(id) {
   
     
     
      this.goToVersions(id);
    },

    close() {
      this.dialog = false;
    },

    goToVersions: function(id) {
      this.currentCar = id;
      this.years = [];
      if (id != null) {
        axios.get("/iapi/car/" + id + "/yearsVersion").then(response => {
          response.data.forEach(year => {
            this.years.push(year);
          });

          this.years.reverse();
          this.dialog = true;
        });
      }

      // return '/version?car='+id;
    },

    urlToVersion: function(year) {
      console.log("urlToVersion", year);
      if (year === null) return "/version?car=" + this.currentCar;
      return "/version?car=" + this.currentCar + "&year=" + year;
    }
  }
};
</script>

<style scoped>
.justify-end {
  justify-content: flex-end;
}
</style>