#label-remember
{
    margin-top: 5px !important;
    color: rgba(0,0,0,.43);
    font-size: .90rem;
}
#img-logo
{
    width: 150px;
    height: 100px;
}

.logo-top{
    max-width: 275px;
    max-height: 275px;
}
.btn-logar
{
    background-color: #f3123c !important;
}
.remember 
{
    padding-top: 17px !important;
}
.card
{
    margin-top: 30px !important;
    margin-bottom: 50px;
}
body
{
    background-color: #f3f5f8 !important;
}