*{
    margin: 0;
    padding: 0;
    
}

#app{
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 97%, rgba(223,223,223,1) 100%);
}

a{
  text-decoration: none !important;
}

footer{
    position: relative !important;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.justify-center
{
  justify-content: center;
}

.card-img-grid{
  max-width: 200px !important; 
  max-height: 200px !important;
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}



.yours-fab{
    position: fixed;
    bottom: 40px;
    right: 20px;
    line-height: 50px !important;
}

#btn-openModal{
  z-index: 999;
  background: white !important;
  transition: all .5s;
  position: fixed;
  width: 50px !important;
  height: 50px !important;
  line-height: 50px !important;
  right: 40px;
  bottom: 40px;
}

#btn-openModal:hover{
  background: #CACACA !important;
}

.vs-popup{
  z-index: 1000;
}

.img-modal{
    max-width: 300px;
}

section{
  width: 100%;
}

.top-bar{
  width: 100%;
  padding: 10px;
  background: transparent;
}

.top-bar .page-title{
  text-align: center;
}

.not-found-data{
  padding: 20px;
  text-align: center;
}

.title{
  text-align: center;
}

.detail-info{
  margin-top: 15px;
}

/* .animated-cards
{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #ddd;
    padding: 10px;
    margin: 10px;
    min-width: 250px;
} */

.card-title
{
    text-transform: uppercase;
}
.card-columns
{
  padding: 15px;
}

.card-top a{
  cursor: pointer;
}

@media (min-width: 1200px) 
{   
  .card-columns
  {
      column-count: 4 !important;
  }   

  .animated-cards .card .card-top{
    transition: all .5s;
    z-index: 1;
    background: white;
    transform: translateY(60px);
  }

  .animated-cards .card .card-top a{
    display: inline-block !important;
  }
  
  .animated-cards .card .card-top .card-title{
    color: black;
  }

  .animated-cards .card img{
    transition: all .5s;
    z-index: 1;
    -webkit-filter: contrast(100%);
    filter: contrast(100%);
    /* border-radius: 15px; */
  }

  .animated-cards .card .card-body{
    z-index: -1;
    opacity: 0;
    transform: translateY(-120px);
    transition: all .5s;
  }

  .animated-cards .card:hover .card-top{
    transform: translateY(0);
  }

  .animated-cards .card:hover img{
    transform: translateY(0);
    -webkit-filter: contrast(125%);
    filter: contrast(150%);
    /* border-radius: 0; */
  }

  .animated-cards .card:hover .card-body{
    z-index: 0;
    opacity: 1;
    transform: translateY(0);
  }
}
.notices .is-top
{
  z-index: 999999 !important;
}
/* .card-columns {
    @include media-breakpoint-only(xs) {
      column-count: 1;
    }
    @include media-breakpoint-only(sm) {
      column-count: 2;
    }
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  } */
  .nav-top-bar
  {
    margin-bottom: -40px !important;
  }

  .max-width-100
  {
    max-width: 100%;
    max-width: -webkit-fill-available;
    max-width: -moz-fill-available;
  }