<style>
  .v-breadcrumbs {
    text-align:center;
    display: block;
  }
</style>
<template>
  <v-container fluid fill-height>
    <v-layout column fill-height wrap>

      <v-breadcrumbs :items="items" align-center justify-center>
        <template v-slot:divider>
          <v-icon>mdi-chevron-right</v-icon>
        </template>
      </v-breadcrumbs>

      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md6 class="mx-5">
          <v-text-field
            placeholder="Buscar Modelo"
            rounded
            v-model="searchCar"
            autofocus
            outlined
            append-icon="search"
            class="searchField"
          ></v-text-field>
        </v-flex>
      </v-layout>

      <v-layout class="mx-auto mb-3">
        <v-flex xs6sm6 md6 class="mr-1">
          <v-chip class="chip" small v-on:click="toogleOrder()">
            <v-icon class="chipIcon" center>swap_vert</v-icon>
          </v-chip>
        </v-flex>

        <v-flex xs12 sm12 md12 v-if="cars.length > 0">
          <v-chip dark class="chip" small>
            <v-icon class="chipIcon" left>directions_car</v-icon>
            {{ cars.length }}
          </v-chip>
        </v-flex>
      </v-layout>

      <v-layout wrap align-center justify-center class="max-width-100">
        <div
          v-if="cars.length > 0"
          id="cars"
          class="card-columns animated-cards max-width-100"
        >
          <v-flex md12 flat v-for="car in cars" v-bind:key="car.id" >
            <v-card flat v-if="!car.hide" class="car card text-center">
              <div class="card-top" >
                <v-flex md12 v-on:click="yearsDialog(car.id)" style="display: inline-block;  "> 
                  <v-img style="cursor: pointer; max-height:225px; max-width: 225px" v-bind:src="car.cover" />
                </v-flex>
                <span style="font-size: large;" class="card-title mt-5">{{ car.name }}</span>
              </div>

              <v-card flat class="card-body" style="background-color: transparent !important">
                <v-layout column justify-center align-center>
                  <v-flex md6>
                    <v-btn
                      class="custom-btn2"
                      v-on:click="edit(car.id)"
                      fab
                      outlined
                      small
                      color="grey"
                    >
                      <v-icon class="custom-btn2">create</v-icon>
                    </v-btn>

                    <v-btn
                      class="custom-btn2"
                      v-on:click="deleteItem(car.id)"
                      fab
                      outlined
                      small
                      color="grey"
                    >
                      <v-icon class="custom-btn2">delete</v-icon>
                    </v-btn>

                    <v-btn
                      class="custom-btn2"
                      v-on:click="gallery(car.id)"
                      fab
                      outlined
                      small
                      color="grey"
                    >
                      <v-icon class="custom-btn2">insert_photo</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-card>

            <v-dialog
              v-model="popupYears"
              max-height="400px"
              max-width="600px"  
                       
            >
              <v-card outlined max-height="400px" max-width="600px">
                <v-card-title class="mt-1 headline grey lighten-2" primary-title>Selecione o ano</v-card-title>
                <v-divider />
                <v-card-text>
                  <v-flex class="ml-2 mb-3" xs10 sm10 md12>
                    <v-btn
                      class="custom-btn my-1"
                      rounded
                      outlined
                      small
                      min-width="77px"
                      :href="urlToVersion(null)"
                    >Todos</v-btn>
                    <v-btn
                      v-for="year in years"
                      v-bind:key="year"
                      class="custom-btn2 my-1 mx-1"
                      rounded
                      min-width="77px"
                      outlined
                      small
                      :href="urlToVersion(year)"
                    >{{year}}</v-btn>
                  </v-flex>
                </v-card-text>
              </v-card>
            </v-dialog>

          </v-flex>
        </div>
        <div v-else class="not-found-data">
          <p>Esta marca não possui veiculos cadastrados.</p>
        </div>
      </v-layout>
    </v-layout>
    <Delete ref="Delete" />
    <VersionsYear ref="VersionsYear" />
  </v-container>
</template>

<script>
import Delete from "../Dialogs/Delete";
import VersionsYear from "../Dialogs/VersionsYear";
export default {
  components: { Delete, VersionsYear },
  data() {
    return {
      items: [],
      brand_crumb: null,
      cars: [],
      years: [],
      popupYears: false,
      currentCar: null,
      order: "asc",
      searchCar: ""
    };
  },

  watch: {
    searchCar() {
      let ret = new RegExp(this.searchCar.toLowerCase());

      for (let car of this.cars) {
        car.hide = !car.name.toLowerCase().match(ret);
      }
    }
  },
  
  methods: {
    toogleOrder() {
      if (this.order == "asc") this.order = "desc";
      else if (this.order == "desc") this.order = "asc";
      this.getcars();
    },

    getBreadCrumb: function()
    {
      axios.get("iapi/site/breadcrumb/brand/"+urlParams.brand, {
      }).then(({ data }) => {
        console.log('CRUMB', data);
        console.log(urlParams);
        data.forEach(crumb => {
          this.items.push({
            text: crumb.name,
            href: crumb.url
          });
        });
      });
    },

    urlToVersion: function(year) {
      console.log("urlToVersion", year);
      if (year === null) return "/version?car=" + this.currentCar;
      return "/version?car=" + this.currentCar + "&year=" + year;     
    },
    
    getcars: function() {
      let url = this.buildUrlGet();
      this.cars = [];
      axios.get(url).then(({ data }) => {
        data.forEach(car => {
          this.cars.push(car);
        });
      });
    },

    buildUrlGet: function() {
      let url = "/iapi/car?limit=2000";
      url += "&" + window.location.search.substring(1);
      url += "&order=" + this.order;
      return url;
    },
    
    edit: function(id) {
      this.$eventHub.$emit("edit-car", id);
    },
    initialize() {
      let me = this;
      this.getcars();

      // LISTINERS
      this.$eventHub.$on("car-created", function(car) {
        me.cars.push(car);
      });
      this.$eventHub.$on("car-updated", function(car) {
        let pos = me.cars.map(e => e.id).indexOf(car.id);
        Vue.set(me.cars, pos, car);
      });
    },

    gallery: function(id) {
      let fn = this.initialize.bind(this);
      this.$eventHub.$emit("open-car-gallery", id, fn);
    },

    goToVersions: function(id) {
      this.currentCar = id;
      this.years = [];
      if (id != null) {
        axios.get("/iapi/car/" + id + "/yearsVersion").then(response => {
          response.data.forEach(year => {
            this.years.push(year);
          });

          this.years.reverse();
          this.popupYears = true;
        });
      }
      // return '/version?car='+id;
    },

    deleteItem(id) {
      this.$refs.Delete.open(
        id,
        "este",
        "modelo",
        this.acceptRemove.bind(this)
      );
    },

    yearsDialog(id) {
      this.$refs.VersionsYear.open(id);
    },

    acceptRemove(id) {
      console.log(id);
      if (id != null) {
        axios.delete("/iapi/car/" + id).then(response => {
          vueToast("Modelo excluida com sucesso!", "success");
          let pos = this.cars.map(e => e.id).indexOf(id);

          if (pos != null) this.cars.splice(pos, 1);
        });
      }
    }
  },

  created() {
    let me = this;
    this.getcars();
    this.getBreadCrumb();
    
    // LISTINERS
    this.$eventHub.$on("car-created", function(car) {
      me.cars.push(car);
    });
    this.$eventHub.$on("car-updated", function(car) {
      let pos = me.cars.map(e => e.id).indexOf(car.id);
      Vue.set(me.cars, pos, car);
    });
  }
};
</script>
<style>
.card {
  word-wrap: inherit !important;
  box-shadow: none !important;
}

.centerx {
  padding-top: 25px !important;
}

.btn-galery {
  margin-top: 10px !important;
}

.vdialognew {
  box-shadow: none !important;
}

.v-dialog{
  box-shadow:  none !important; 
}
</style>
