
<style>
#car-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
#car-detail .title {
  margin-top: 25px;
  width: 100%;
  text-align: center;
  color: black;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  width: auto;
  padding: 15px;
  text-transform: uppercase;
}
#car-detail .logo {
  width: 100% !important;
  max-height: 450px !important;
}
img {
  max-width: 100% !important;
}
</style>


<template>
  <!-- <section id="car-detail" v-bind:style="{backgroundImage: buildBackground()}"> -->
  <section id="car-detail">
    <!-- <img class="logo" v-bind:src="car.cover"> -->
    <!-- <div v-for="photo in photos" v-bind:key="photo.id">
            <img class="logo" v-bind:src="photo.url"z>
    </div>-->
    <vs-row>
      <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
        <img
          class="logo img-fluid mt-5"
          v-bind:src="car.cover"
          style="max-width: 450px !important; max-height: 450px !important;"
        />
      </vs-col>
    </vs-row>
    <h1 class="mt-4">{{ car.name }} - {{year}}</h1> 
  </section>
</template>
<script>
export default {
  data() {
    return {
      car: {
        id: "",
        name: "",
        cover: ""
      },
      photos: [],
      year: null
    };
  },
  methods: {
    buildBackground() {
      return "url('" + this.car.cover + "')";
    },
    getCar: function() {
      if (typeof urlParams.car != "undefined") {
        this.car.id = urlParams.car; 

        axios.get("/iapi/car/" + this.car.id).then(({ data }) => {
          this.car = data;
         
        });
      }
       console.log('this.car', this.car);
    },
    getPhotos: function() {
      if (typeof urlParams.car != "undefined") {
        this.car.id = urlParams.car;

        axios.get("/iapi/car/" + this.car.id + "/photos").then(({ data }) => {
          data.forEach(photo => {
            this.photos.push(photo);
          });
        });
      }
    }
  },
  created() {
    this.getCar();
    this.getPhotos();

     console.log('this.car', this.car);
    

   if (typeof urlParams.year !== "undefined") this.year = urlParams.year;
    else this.year = "Todos"; 
  }
};
</script>