
<template>
  <vs-row>
    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
      <div class="centerx">
        <vs-button
          radius
          @click="openModal=true"
          color="dark"
          type="border"
          id="btn-openModal"
          v-on:click="clean()"
          icon="add"
        ></vs-button>

        <v-dialog v-model="openModal" persistent max-width="600">
          <v-card outlined>
            <v-card-title class="headline mt-2">Novo modelo</v-card-title>
            <v-divider class="mb-2" />

            <form class="centerx" id="form-model" @submit.prevent="submit">
              <v-flex xs6sm6 md6 class="mx-auto mt-2">
                <v-text-field
                  v-model="model.name"
                  required
                  placeholder="Nome do modelo"
                  rounded
                  autofocus
                  outlined
                ></v-text-field>
              </v-flex>
  
             <p v-if="errors.length">
                <b>Por favor, corrija o(s) seguinte(s) erro(s):</b>
                    <ul>
                        <li v-for="error in errors" v-bind:key="error">{{ error }}</li>
                    </ul>
              </p>
        
              <v-divider />
            </form>

            <v-layout style="justify-content: flex-end" class="mb-3 mr-2">
              <v-btn rounded small outlined class="custom-btn2" @click="close">Cancelar</v-btn>

              <v-btn rounded small outlined class="custom-btn ml-1" @click="sendModel">Confirmar</v-btn>
            </v-layout>
          </v-card>
        </v-dialog>
      </div>
    </vs-col>
  </vs-row>
</template>

<script>
export default {
  data() {
    return {
      errors: [],
      brands: [],
      openModal: false,
      model: {
        name: "",
        brand_id: ""
      }
    };
  },
  methods: {
    close() {
      this.openModal = false;
    },
    getBrands: function(e) {
      axios.get("/iapi/brand?limit=2000").then(({ data }) => {
        this.brands = data;
      });
    },
    
    sendModel: function(e) {
      if (typeof urlParams.brand != "undefined")
        this.model.brand_id = urlParams.brand;

      e.preventDefault;
      let form = this.model;

      let url = "/iapi/car";
      let event = "car-created";
      let toast_message = "Modelo cadastrado com sucesso";

      if (this.model.id != null) {
        url += "/" + this.model.id;
        event = "car-updated";
        toast_message = "Modelo editado com sucesso";
      }
    
      axios
        .post(url, form)
        .then(response => {
          let model = response.data;

          vueToast(toast_message, "success");

          this.$eventHub.$emit(event, model);

          this.clean();
          this.openModal = false;
        })
        .catch(error => {
          console.error(error);
        });
    },
    clean: function() {
      this.model = {
        name: "",
        brand_id: ""
      };
    }
  },
  created() {
    this.clean();
    this.getBrands();
    let me = this;
    this.$eventHub.$on("edit-car", function(id) {
      me.openModal = true;
      axios.get("/iapi/car/" + id).then(response => {
        let model = response.data;
        console.log(model);
        me.model.id = model.id;
        me.model.name = model.name;
        me.model.brand_id = model.brand_id;
      });
    });
  }
};
</script>


<style>
label {
  background-color: white !important;
}

#btn-openModal i,
.vs-icon .vs-radius {
  font-size: 25px !important;
  border-radius: 10px !important;
}

.popup-example .vs-input {
  float: left;
  width: 100%;
  margin: 10px;
  margin-top: 5px;
}

.popup-example .con-select {
  width: 100%;
  margin-left: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.selectExample {
  margin: 10px;
}

.con-select-example {
  display: flex;
  align-items: center;
  justify-content: center;
}

.con-select .vs-select {
  width: 100%;
}

@media (max-width: 550px) {
  .con-select {
    flex-direction: column;
  }
  .con-select .vs-select {
    width: 100%;
  }
}
</style>
