<style>
.parentx-static{
  overflow: hidden;
  height: 500px;
  position: relative;
}
.header-sidebar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.header-sidebar h4{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.header-sidebar h4 > button{
  margin-left: 10px;
}
.footer-sidebar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footer-sidebar > button{
  border: 0px solid rgba(0,0,0,0) !important;
  border-left: 1px solid rgba(0,0,0,.07) !important;
  border-radius: 0px !important;
}
.sidebar-btn{
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px;
}
.btn-logout{
  width: 100% !important;
}
#parentx i, .vs-icon 
{
  margin-top: -3px !important;
}
.vs-sidebar-primary .vs-sidebar-item-active a {
    color: rgba(var(--vs-dark),1)!important;
    opacity: 1!important;
}
.vs-sidebar-primary .vs-sidebar-item-active {
    border-right: 3px solid rgba(var(--vs-dark),1)!important;
}
.vs-sidebar--item a {
    text-decoration: none !important;
    color: rgba(var(--vs-dark),1)!important;
}
</style>

<template>

  <div id="parentx-static">

    <vs-button @click="active=!active" color="dark" type="filled" class="sidebar-btn open-menu-bar" icon="menu"></vs-button>
    
    <vs-sidebar :reduce="reduce" :reduce-not-hover-expand="notExpand" parent="body"
      :default-index="currentIndex" color="primary" class="sidebarx" spacer v-model="active">

      <div class="header-sidebar" slot="header">
        <vs-avatar size="70px" src="https://cdn.shopify.com/s/files/1/0099/9562/files/Header-Icon-User.png?14597416339728210630"/>

        <h4 color="dark">
          {{ user.name }}
          <!-- <vs-button color="primary" icon="more_horiz" type="flat"></vs-button> -->
        </h4>

      </div>

      <vs-sidebar-item index="1" icon="question_answer" @click="changeIndex(1)" href="/home">
        Dashboard
      </vs-sidebar-item>

      <vs-sidebar-item index="2" icon="business_center" @click="changeIndex(2)" href="/brand">
        Marcas
      </vs-sidebar-item>

      <vs-sidebar-item index="3" icon="build" @click="changeIndex(3)" href="/basepart">
        Peça base
      </vs-sidebar-item>

      <!-- <vs-sidebar-item index="3" icon="directions_car" @click="changeIndex(3)" href="/car">
        Modelos
      </vs-sidebar-item> -->

      <vs-divider icon="person" position="left">
        User
      </vs-divider>

      <!-- <vs-sidebar-item index="4" icon="group" @click="changeIndex(4)" href="/user">
        Usuários
      </vs-sidebar-item> -->

      <vs-sidebar-item index="5" icon="verified_user">
        Configurations
      </vs-sidebar-item>
      <vs-sidebar-item index="6" icon="account_box">
        Perfil
      </vs-sidebar-item>
      
      <vs-sidebar-item icon="menu" @click="toogleReduce()">
        Encolher menu
      </vs-sidebar-item>

      <div class="footer-sidebar" slot="footer">
        <vs-button icon="reply" color="danger" type="flat" v-on:click="logout()" class="btn-logout">
          <span v-if="!reduce">Sair</span>
        </vs-button>
      </div>

    </vs-sidebar>
  </div>

</template>

<script>
// import { watch } from 'fs';
export default {
    data() {
        return {
            active: false,
            notExpand: true,
            reduce: true,
            currentIndex: 1
        }
    },
    props: [
      'userData'
    ],
    methods: {
      logout() {
        document.getElementById('logout-form').submit();
      },
      changeIndex(index) {
        localStorage.currentIndex = index;
      },
      toogleReduce()
      {
        this.reduce = !this.reduce;
        localStorage.reduce = this.reduce;
      }
    },
    created () {
      if(localStorage.reduce)
        this.reduce = (localStorage.reduce == 'true');
      if(localStorage.currentIndex)
        this.currentIndex = localStorage.currentIndex;

      this.user = JSON.parse(this.userData);
    },
}
</script>
