<template>
  <v-container fluid fill-height class="mt-5" >
    <v-layout column fill-height class="mt-5">
      <v-card class="mx-auto" flat>
     <!--    <v-layout align-center justify-center>
          <v-img
           src="../../assets/logo_vita.png"
            contain
            gradient
            class="grey lighten-2"
            height="130px"
          ></v-img> 
        </v-layout>-->
        
        <v-card-text>
          <v-flex xs12 sm12 md12>
            <v-text-field
              ref="name"
              v-model="user.email"
              placeholder="E-mail"
              required
              prepend-inner-icon="person"
              @keyup.enter.native="login"
              class="primaryText"
            ></v-text-field>
          </v-flex>

      

          <v-flex xs12 sm12 md12>
            <v-text-field
              v-model="user.password"
              :append-icon="show1 ? 'visibility' : 'visibility_off'"
              :type="show1 ? 'text' : 'password'"
              placeholder="Senha"
              name="input-10-1"
              counter
              @click:append="show1 = !show1"
              prepend-inner-icon="vpn_key"
              @keyup.enter.native="login"
              class="primaryText"
            ></v-text-field>
          </v-flex>

          <v-flex xs12 sm12 md12 class="mx-3 mb-2">
            <span class="invalid" v-if="invalid">Senha ou Email incorreto(s)</span>
          </v-flex>

          <v-flex xs10 sm10 md10 class="mx-5">
            <v-btn @click="login" block outlined rounded small class="mt-2 custom-btnLogin">Entrar</v-btn>
          </v-flex>
        </v-card-text>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import axios from "axios";


export default {
  name: "Login",


  data() {
    return {
      show1: false,
      invalid: false,
      user: {
        email: "",
        password: ""
      }
    };
  },

  methods: {
    async login() {
      let me = this;

      let ret = axios 
        .post("/login", this.user)
        .then(function(response) {
          // handle success
          console.log("response", response);
          location.assign("/home");
        })
        .catch(function(error) {
          me.invalid = true;
          console.log("error", error);
        });
    }
  }
};
</script>

<style>
.primaryText {
  color: #d44100 !important;
}

  .custom-btnLogin:hover {
    color: #d44100 !important;
  }


.invalid {
  color: rgb(189, 3, 3) !important;
}
</style>
