<style>
.card-slide-version
{
    width: 100%;
}
@media (min-width: 1200px) 
{   
.card-slide-version
{
    width: 50%;
}
}
</style>

<template>
  <section id="version">
    <v-layout 2 align-center justify-center fill-height  class="mt-3">
    <v-card flat tile class="card-slide-version">
      
      <v-window 
        flat
        v-model="onboarding"
        :touchless="true"
        :continuous="true"
        >
        <v-window-item v-for="photo of photos" v-bind:key="photo.id">
          <v-card color="grey" flat>
            <v-layout align-center justify-center fill-height tag="v-card-text">
              <v-img class="logo img-fluid " :src="photo.url" style="max-width: 450px !important; max-height: 450px !important;"></v-img> 
            </v-layout>
          </v-card>
        </v-window-item>
      </v-window>

      <v-card-actions class="justify-space-between" justify-center row style="justify-content: center;">
        <v-btn text @click="prev">
          <v-icon>keyboard_arrow_left</v-icon>
        </v-btn>
        <v-item-group v-model="onboarding" class="text-center" mandatory>
          <v-item v-for="n in photos.length" :key="`btn-${n}`" v-slot:default="{ active, toggle }">
            <v-btn :input-value="active" icon @click="toggle">
              <v-icon>minimize</v-icon>
            </v-btn>
          </v-item>
        </v-item-group>
        <v-btn text @click="next">
          <v-icon>keyboard_arrow_right</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
    </v-layout>
    <v-layout>
        <v-flex xs12 sm12 md12 class="mx-5" align-center justify-center>        
          <v-breadcrumbs :items="items">
            <template v-slot:divider>
              <v-icon>mdi-chevron-right</v-icon>
            </template>
          </v-breadcrumbs>
        </v-flex>
      </v-layout>
    <v-layout column wrap class="detail-info align-content-center">
        <v-flex md3 xs12 md12>
            <h2 class="title">{{ sub_version.name }}</h2>

            <h5 class="title">{{ sub_version.years[0] }} - {{ sub_version.years[1] }}</h5>
        </v-flex>
        <v-flex md3 xs12 >
        </v-flex>
    </v-layout>
  </section>
</template>

<script>
export default {
  data() {
    return {
      sub_version: {
        name: "",
        src: "",
        years: [],
      },
      car: {},
      brand: {},
      items: [],
      photos: [],
      version: [],
      onboarding: 0
    };
  },
  methods: {
    next() {
      this.onboarding =
        this.onboarding + 1 === this.photos.length ? 0 : this.onboarding + 1;
    },
    prev() {
      this.onboarding =
        this.onboarding - 1 < 0 ? this.photos.length - 1 : this.onboarding - 1;
    },
    
    initialize: function() {},

    getBreadCrumb: function()
    {
      console.log(urlParams)
      axios.get("/iapi/site/breadcrumb/subversion/"+urlParams.subversion, {
      }).then(({ data }) => {
        console.log('CRUMB', data);
        console.log(urlParams);
        data.forEach(crumb => {
          this.items.push({
            text: crumb.name,
            href: crumb.url
          });
        });
      });
    },

    getSubversion()
    {
      console.log(urlParams);
      axios.get('/iapi/subversion/'+urlParams.subversion).then(({ data }) => {
        this.sub_version = data;
        console.log('versoes', this.sub_version);
        let version = this.sub_version.version_id;
        this.getVersion(version);
      });
    },
    getVersion(version)
    {
      console.log('version: ', version);
      axios.get('/iapi/version/'+version).then(({ data }) => {
        this.version = data;
        console.log(this.version)
        let car_id = this.version.car_id;
        this.getCar(car_id);
      });
    },
    getPhotos()
    {
      axios.get('/iapi/subversion/'+urlParams.subversion+'/photos').then(({ data }) => {
        this.photos = data;
      });
    },
    getCar(car_id)
    { 
      axios.get('/iapi/car/'+car_id).then(({ data }) => {
        this.car = data;
        this.getBrand();
      });
    },
    getBrand()
    {
      axios.get('/iapi/brand/'+this.car.brand_id).then(({ data }) => {
        this.brand = data;
        console.log("brand", this.brand);
      });
    }
  },
  created() {
      this.getPhotos();
      this.getSubversion();
      this.getBreadCrumb();
  }
};
</script>
