
<template>
  <vs-row>
    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
      <div class="centerx">
        <vs-button
          radius
          @click="openModal=true"
          color="black"
          type="border"
          id="btn-openModal"
          v-on:click="clean()"
          icon="add"
        ></vs-button>

        <v-dialog v-model="openModal" persistent max-width="600">
          <v-card outlined>
            <v-card-title class="headline mt-2">Nova Subversão</v-card-title>
            <v-divider class="mb-2" />
            <form class="centerx" id="form-model" @submit.prevent="submit">
              <v-flex xs6sm6 md6 class="mx-auto mt-2">
                <v-text-field
                  v-model="subversion.name"
                  required
                  placeholder="Nome da versão"
                  rounded
                  autofocus
                  outlined
                ></v-text-field>
              </v-flex>
              <v-divider />

               <vs-row>
                <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                  <label style="color:black;">Anos da versão</label>
                </vs-col>
              </vs-row>

              <vs-row>
                <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                  <vs-chip color="dark" style="font-size: 1.2em;">
                    <!-- <vs-avatar icon="event" /> -->
                    {{ years[0] }} - {{ years[1] }}
                  </vs-chip>
                </vs-col>
              </vs-row>

              <v-flex xs6 sm6 md12 class="mx-5" >
                <vs-slider  color="dark" :min="minYear" :max="maxYear" v-model="years" />
              </v-flex>

            </form>

            <v-layout style="justify-content: flex-end" class="mb-3 mr-2">
              <v-btn rounded small outlined class="custom-btn2" @click="close">Cancelar</v-btn>
              <v-btn rounded small outlined class="custom-btn ml-1" @click="send">Confirmar</v-btn>
            </v-layout>
          </v-card>
        </v-dialog>
      </div>
    </vs-col>
  </vs-row>
</template>

<script>
export default {
  data() {
    return {
      openModal : false,
      minYear   : '',
      maxYear   : '',
      errors    : [],
      subversion: {
        name: "",
        version_id: "",
        year : [],
      },
      years: [currentYear() - 1, currentYear()],
      fn: null,
    };
  },
  methods: {
    close(){
      this.openModal = false;
    },

    initialize: function() {
      this.getRange();
    },

    getRange: function()
    { 
      console.log("entrou");
      axios.get('/iapi/version/' + urlParams.version).then(({ data }) => {
        this.minYear = data.years[0]; 
        this.maxYear = data.years[1];
        this.years   = [data.years[0], data.years[1]];
      });
      console.log('uau', this.years);
    },

    send: function(e) {
      e.preventDefault;

      if (typeof urlParams.version != "undefined")
        this.subversion.version_id = urlParams.version;

      this.subversion.years = this.years;
      let form = this.subversion;

      let url = "/iapi/subversion";
      let event = "subversion-created";
      let toast_message = "Subversão cadastrado com sucesso";

      if (this.subversion.id != null) 
      {
        url += "/" + this.subversion.id;
        event = "subversion-updated";
        toast_message = "Subversão editada com sucesso";
      }

      axios
          .post(url, form)
          .then(response => {
            let subversion = response.data;   
            vueToast(toast_message, "success"); 
            this.$eventHub.$emit(event, subversion);    
            this.close();
            this.clean();
          })
          .catch(error => {
            console.error(error);
          });
    },
    
    clean: function() {
      this.subversion = {
        name       : "",
        year       : "",
        version_id : "",
      };
      this.years = [this.minYear, this.maxYear];
    },

    validateYears: function() {
      if (this.years[0] == null) {
        this.years[0] = currentYear() - 1;
      }
      if (this.years[1] == null) {
        this.years[1] = currentYear();
      }
    },
    submit: function() {}
  },
  created() {
    let me = this;
    this.clean();
    this.getRange();
    this.$eventHub.$on("edit-subversion", function(id, fn) {
      me.openModal = true;
      axios.get("/iapi/subversion/" + id).then(response => {
        let subversion            = response.data;
        me.subversion.id          = subversion.id;
        me.subversion.name        = subversion.name;
        me.subversion.year        = subversion.years;
        me.subversion.version_id  = subversion.version_id;
        me.years                  = subversion.years;
        me.fn                     = fn;
        me.validateYears();
      });
    });
  }
};
</script>
