<template>
  <v-container fluid fill-height>
    <v-layout column fill-height wrap>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md6 class="mx-5">
          <v-text-field
            placeholder="Buscar Versão"
            rounded
            v-model="searchVersion"
            autofocus
            outlined
            append-icon="search"
            class="searchField"
          ></v-text-field>
        </v-flex>
      </v-layout>

      <v-layout class="mx-auto">
        <v-flex xs6 sm6 md6 class="mx-1">
          <v-chip small v-on:click="toogleOrder()">
            <v-icon center>swap_vert</v-icon>
          </v-chip>
        </v-flex>

        <v-flex class="mx-1" xs6 sm6 md6  v-if="versions.length > 0">
          <v-chip small>
            <v-icon left>directions_car</v-icon>
            {{ versions.length }}
          </v-chip>
        </v-flex>

        <v-flex class="mx-1" xs6 sm6 md6  >
          <v-chip small @click="yearsDialog()">
            <v-icon left>calendar_today</v-icon>
            {{ year }}
            
          </v-chip>
        </v-flex>
      </v-layout>

      <v-layout fill-height>
        <section id="versions">
          <div class="fill-row">
            <div class="card-columns animated-cards" id="card-list-versions">
              <v-card flat v-for="version in versions" v-bind:key="version.id" class="mx-2">
                <v-card flat v-if="!version.hide" class="car card text-center">
                  <div class="card-top">
                    <a :href="goToOnly(version.id)" style="display: inline-block;">
                      <img class="card-img-top" v-bind:src="version.cover" />
                    </a>
                    <span style="font-size: large;" class="card-title mt-5">{{ version.name }}</span>
                  </div>


                  <v-card flat class="card-body" style="background-color: transparent !important">
                    <v-layout column justify-center align-center>
                      <v-flex md6>
                        <v-btn
                          class="custom-btn2"
                          v-on:click="edit(version.id)"
                          fab
                          outlined
                          small
                          color="grey"
                        >
                          <v-icon class="custom-btn2">create</v-icon>
                        </v-btn>
                        <v-btn
                          class="custom-btn2"
                          v-on:click="deleteItem(version.id)"
                          fab
                          outlined
                          small
                          color="grey"
                        >
                          <v-icon class="custom-btn2">delete</v-icon>
                        </v-btn>

                        <v-btn
                          class="custom-btn2"
                          v-on:click="gallery(version.id)"
                          fab
                          outlined
                          small
                          color="grey"
                        >
                          <v-icon class="custom-btn2">insert_photo</v-icon>
                        </v-btn>
                      </v-flex>
                    </v-layout>
                  </v-card>
                </v-card>
              </v-card>
            </div>
          </div>
        </section>
      </v-layout>

    </v-layout>
    <Delete ref="Delete" />
    <VersionsYear ref="VersionsYear" />
    
  </v-container>
</template>

<script>
import Delete from "../Dialogs/Delete";
import VersionsYear from "../Dialogs/VersionsYear";
export default {
  components: { Delete, VersionsYear },
  data() {
    return {
      versions: [],
      order: "asc",
      year: null,
      searchVersion: "",
      popupYears: false,
    };
  },

  watch: {
    searchVersion: function() {
      let ret = new RegExp(this.searchVersion.toLowerCase());
      console.log("ret", ret);

      for (let version of this.versions) {
        version.hide = !version.name.toLowerCase().match(ret);
      }
      console.log("cars", versions);
    }
  },

  methods: {
    toogleOrder: function() 
    {
      if (this.order == "asc") this.order = "desc";
      else if (this.order == "desc") this.order = "asc";
      this.getVersions();
    },

    getVersions: function() 
    {
      let url = this.buildUrlGet();
      this.versions = [];
      axios.get(url).then(({ data }) => {
        data.forEach(version => {
          this.versions.push(version);
        });
      });
    },

    buildUrlGet: function() 
    {
      let url = "/iapi/version?limit=2000";
      url += "&" + window.location.search.substring(1);
      url += "&order=" + this.order;
      return url;
    },

    goToOnly: function(id) 
    {
      return "/version/detail?version=" + id;
    },

    edit: function(id) 
    {
      this.$eventHub.$emit("edit-version", id);
    },


    yearsDialog() {     
      this.$refs.VersionsYear.open(this.carId);
    },

    initialize() {
      let me = this;
      this.getVersions();


      // LISTINERS
      this.$eventHub.$on("version-created", function(version) {
        me.versions.push(version);
      });
      this.$eventHub.$on("version-updated", function(version) {
        let pos = me.versions.map(e => e.id).indexOf(version.id);
        Vue.set(me.versions, pos, version);
      });
    },

    gallery: function(id) {
      let fn = this.initialize.bind(this);
      this.$eventHub.$emit("open-version-gallery", id, fn);

    },

    /* openConfirmRemove(id) {
      let version_id = id;
      this.$vs.dialog({
        type: "confirm",
        color: "danger",
        title: `Excluir versão?`,
        text: "Você deseja excluir esta versão?",
        accept: this.acceptRemove,
        parameters: version_id
      });
    },*/

    deleteItem: function(id) 
    {
      this.$refs.Delete.open(
        id,
        "esta",
        "versão",
        this.acceptRemove.bind(this)
      );
    },

    acceptRemove: function(id) 
    {
      if (id != null) {
        axios.delete("/iapi/version/" + id).then(response => {
          vueToast("Versão excluida com sucesso!", "success");
          let pos = this.versions.map(e => e.id).indexOf(id);

          if (pos != null) this.versions.splice(pos, 1);
        });
      }
    }
  },
  created() {
    let me = this;
    this.getVersions();

    this.carId = urlParams.car;

    if (typeof urlParams.year === "undefined") {
      this.year = "Todos";
    } else {
      this.year = urlParams.year;
    }

    console.log("year", this.year);

    // LISTINERS
    this.$eventHub.$on("version-created", function(version) {
      me.versions.push(version);
    });
    this.$eventHub.$on("version-updated", function(version) {
      let pos = me.versions.map(e => e.id).indexOf(version.id);
      Vue.set(me.versions, pos, version);
    });
  }
};
</script>

<style>
.card-title {
  word-wrap: inherit !important;
}
@media (min-width: 100px) and (max-width: 600px) {
  .con-vs-chip {
    font-size: 0.7rem !important;
  }
}

.versions {
  padding: 15px !important;
}
.con-vs-chip {
  font-size: 0.9rem !important;
}
</style>
