<template>
<v-container style="margin-top: 60px !important; margin-bottom: 80px !important;  max-width: 900px; max-height: 600px !important; height: -webkit-fill-available;">
    <v-card>
    <v-card-title>
      Lista de Peça Base
      <v-spacer class="mx-4"></v-spacer>
      
      <v-text-field
        v-model="search"
        append-icon="search"
        placeholder="Pesquisar"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table 
    :headers="headers"
    :items="base_parts"
    :items-per-page="15"
    class="elevation-1"
    :search="search"
    >
    <template v-slot:item.action="{ item }">
        <v-icon small class="mr-2" @click="edit(item.id)">edit</v-icon>
        <v-icon small @click="deleteItem(item.id)">delete</v-icon>
      </template>
      <template v-slot:no-data>
        <h4><p style="margin-top: 15px;" class="text-center font-weight-bold vl-no-data">Nenhum registro encontrado</p></h4>
      </template>
    </v-data-table>
      </v-card>
    <Delete ref="Delete" />
</v-container>
</template>

<script>
import Delete from "../Dialogs/Delete";
    
  export default {
  components: { Delete },

    data () {
      return {
        search     : '',
        headers    : [
          {
            text : 'Nome Peça',
            value : 'description'
          },
          {
            text  : 'Região do Carro',
            value : 'car_region'
          },
          { 
            text     : "Ações",
            value    : "action",
            sortable : false 
          }
        ],
        base_parts : [],
      }
    },
    methods: 
    {
    initialize: function()
    {
      this.getBasePart();
    },
    edit: function(id) 
    {
      let fn = this.initialize.bind(this);
      this.$eventHub.$emit("edit-base-part", id, fn);
    },

    getBasePart: function()
    {
      this.base_parts = [];
      axios.get('/iapi/base-part').then(({ data }) => {
        data.forEach(base_part => {
          this.base_parts.push(base_part);
        });
      });
      console.log("peças bases:", this.base_parts);
    },

    deleteItem: function(id) 
    {
      this.$refs.Delete.open(
        id,
        "esta",
        "peça",
        this.acceptRemove.bind(this)
      );
    },

    acceptRemove: function(id) 
    {
      if (id != null) {
        axios.delete("/iapi/base-part/" + id).then(response => {
          vueToast("Peça excluida com sucesso!", "success");
          let pos = this.base_parts.map(e => e.id).indexOf(id);

          if (pos != null) this.base_parts.splice(pos, 1);
        });
      }
    }

    },
    created() 
    {
        let me = this;
        this.getBasePart();

        let fn = this.initialize.bind(this);
        this.$eventHub.$on("base-part-created", function(base_part, fn) {
          console.log('base_part: ',base_part);
          me.base_parts.push(base_part);
        });

        this.$eventHub.$on("base-part-updated", function(base_part) {
          let pos = me.base_parts.map(e => e.id).indexOf(base_part.id);
          Vue.set(me.base_parts, pos, base_part);
        });
    }
  }
</script>