<style>
  .line 
  {
    margin: 0 auto !important;
  }
  label {
    text-align: left !important;
    margin-left: 0px !important;
    padding-left: 0px !important; 
  }
  input[type=checkbox]{
    color: black;
  }
</style>
<template>
  <vs-row>
    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
      <div class="text-xs-center">
        <vs-button
          radius 
          icon="add"    
          color="dark"
          type="border"
          id="btn-openModal"
          v-on:click="clean()"
          @click="openModal=true"
        ></vs-button>
        <v-dialog v-model="openModal" max-width="800">
          <v-card outlined>
            <v-card-title class="headline mt-2">Nova Peça Base</v-card-title>
            <v-divider class="mb-2" />
            <form class="" id="form-model" @submit.prevent="submit">
              <v-container>
                <v-row class="line">
                    <v-col cols="6" sm="6" md="6" class="mx-8">
                      <label class="text-dark">Descrição</label>
                      <v-text-field
                        required
                        outlined
                        placeholder="Descrição"
                        v-model="base_part.description"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" sm="6" md="6" class="mx-8">
                      <label class="text-dark">Região do carro</label>
                      <v-select
                        outlined
                        required
                        item-value="value"
                        :items="car_region"
                        placeholder="Região do carro"
                        v-model="base_part.car_region"
                      ></v-select>
                    </v-col>
                    <v-col cols="6" sm="6" md="6" class="mx-8">
                      <label class="text-dark">Ficha técnica nova</label>
                      <v-text-field
                        required
                        outlined
                        placeholder="Ficha técnica nova"
                        v-model="base_part.technical_description_new"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" sm="6" md="6" class="mx-8">
                      <label class="text-dark">Ficha técnica antiga</label>
                      <v-text-field
                        required
                        outlined
                        placeholder="Ficha técnica velha"
                        v-model="base_part.technical_description_old"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" sm="6" md="6" class="mx-8">
                      <label class="text-dark">Classe indaia nova</label>
                      <v-text-field
                        required
                        outlined
                        placeholder="Classe Indaia Nova"
                        v-model="base_part.clas_indaia_new"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" sm="6" md="6" class="mx-8">
                      <label class="text-dark">Classe indaia antiga</label>
                      <v-text-field
                        required
                        outlined
                        placeholder="Classe Indaia Antiga"
                        v-model="base_part.clas_indaia_old"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="6" sm="6" md="6" class="mx-8">
                      <label class="text-dark">Categorias Mercado Livre</label> 
                      <v-autocomplete
                       outlined
                       item-value="value"
                       :items="category"
                       v-model="base_part.ml_category_id"
                       placeholder="Categorias Mercado Livre"
                      ></v-autocomplete>
                    </v-col>
                    <v-col cols="6" sm="6" md="6" class="mx-8">
                      <label class="text-dark">Variação Mercado Livre</label> 
                        <v-checkbox
                          selected-color="black"
                          v-model="base_part.ml_variation"
                          :label="`${status()}`"
                        ></v-checkbox>
                    </v-col>
                </v-row>    
              </v-container>
            </form>
            <v-divider class="mb-2"/>
            <v-layout style="justify-content: flex-end" class="mb-3 mt-3 mr-3">
              <v-btn rounded small outlined class="custom-btn2"     @click="close">Cancelar</v-btn>
              <v-btn rounded small outlined class="custom-btn ml-1" @click="sendModel">Confirmar</v-btn>
            </v-layout>
          </v-card>
        </v-dialog>
      </div>
    </vs-col>
  </vs-row>
</template>

<script>
export default {
  data() {
    return {
      filters      : '',
      timeout      : 2000,
      fn           : null,
      search       : null,
      select       : null,
      loading      : false,
      openModal    : false,
      items        : [],
      errors       : [],
      category     : [],
      category_text: ['A', 'B', 'C'],
      car_region: 
      [
          {
              text  : 'Frontal',
              value : 'Frontal'
          },
          {
              text  : 'Lateral',
              value : 'Lateral'
          },
          {
              text  : 'Traseiro',
              value : 'Traseiro'
          }
      ],
      base_part: 
      {
        car_region                : '',
        description               : '',
        ml_variation              : '',
        ml_category_id            : '',
        clas_indaia_old           : '',
        clas_indaia_new           : '',
        technical_description_old : '',
        technical_description_new : '',
      },
    };
  },
  computed: {},
   watch: {
      search (val) {
        val && val !== this.select && this.querySelections(val);
      },
    },
  methods: {
    close() 
    {
      this.openModal = false;
      // this.fn();
    },
    
    getMlCategories: function() 
    {
      axios.get("iapi/ml-category/autocomplete", {})
           .then(({ data }) => {
            data.forEach(categories => {
              this.category.push({
                text: categories.name, 
                value: categories.ml_code
              });
        });
          console.log("categorias: ", this.category);
      });
    },

    status: function() 
    { 
      if(this.base_part.ml_variation == true) 
      {
        this.base_part.ml_variation = 1;
        return "Sim";
      } 
      else 
      {
        this.base_part.ml_variation = 0;
        return "Não";
      }
    },

    sendModel: function() {
      console.log(this.base_part);
      let formData = objToFormData(this.base_part);

      let url = "/iapi/base-part";
      let event = "base-part-created";
      let toast_message = "Peça cadastrada com sucesso";

      if (this.base_part.id != null) {
        url += "/" + this.base_part.id;
        event = "base-part-updated";
        toast_message = "Peça editada com sucesso";
      }

      axios
        .post(url, formData)
        .then(response => {
          let base_part = response.data;

          vueToast(toast_message, "success");

          this.$eventHub.$emit(event, {
            car_region                : base_part.car_region,
            description               : base_part.description,
            ml_variation              : base_part.ml_variation,
            ml_category_id            : base_part.ml_category_id,
            clas_indaia_old           : base_part.clas_indaia_old,
            clas_indaia_new           : base_part.clas_indaia_new,
            technical_description_old : base_part.technical_description_old,
            technical_description_new : base_part.technical_description_new,
          });
          this.clean();
          this.close();
        })
        .catch(error => {
          console.error(error);
        });
    },
    clean: function() {
      this.base_part = {
        car_region                : '',
        description               : '',
        ml_variation              : '',
        ml_category_id            : '',
        clas_indaia_old           : '',
        clas_indaia_new           : '',
        technical_description_old : '',
        technical_description_new : '',
      };
    }
  },
  created() {
    let me = this;
    // this.edit = true;z
    this.getMlCategories();

    this.$eventHub.$on("create-base-part", function(id, fn) {
      me.openModal = true;
      me.fn = fn;
    });

    this.$eventHub.$on("edit-base-part", function(id, fn) {
      me.openModal = true;
      axios.get("/iapi/base-part/" + id).then(response => {
        let base_part                          = response.data;
        me.base_part.id                        = base_part.id;
        me.base_part.car_region                = base_part.car_region;
        me.base_part.description               = base_part.description;
        me.base_part.ml_variation              = base_part.ml_variation;
        me.base_part.ml_category_id            = base_part.ml_category_id;
        me.base_part.clas_indaia_old           = base_part.clas_indaia_old;
        me.base_part.clas_indaia_new           = base_part.clas_indaia_new;
        me.base_part.technical_description_old = base_part.technical_description_old;
        me.base_part.technical_description_new = base_part.technical_description_new;
        me.fn = fn;
      });
    });
  }
};
</script>
<style>
.save {
  margin-top: 15px;
}
.img-logo {
  max-width: 300px;
}
.div-img {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
input[type="file"] {
  display: none;
}
label {
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px;
}
</style>