<style>
  .v-breadcrumbs {
    text-align:center;
    display: block;
  }
</style>
<template>
  <v-container fluid fill-height class="mt-5">
    <v-layout column fill-height wrap>
    <v-breadcrumbs :items="items" align-center justify-center>
      <template v-slot:divider>
        <v-icon>mdi-chevron-right</v-icon>
      </template>
    </v-breadcrumbs>
      <v-layout align-center justify-center>

          <v-flex xs12 sm8 md6 class="mx-5">
            <v-text-field
              placeholder="Buscar Marca"
              rounded
              v-model="searchBrand"
              autofocus
              outlined
              append-icon="search"
              class="searchField"
            ></v-text-field>
          </v-flex>

      </v-layout>

      <v-layout class="mx-auto">
        <!--   <v-flex xs6sm6 md6 class="mr-1">
          <v-chip v-on:click="toogleOrder()">
            <v-icon left>swap_vert</v-icon>
            {{ (order == 'asc') ? 'Crescente' : 'Decrescente' }}
          </v-chip>
        </v-flex>-->

        <v-flex xs6sm6 md6 class="mr-1">
          <v-chip  class="chip" small v-on:click="toogleOrder()">
            <v-icon class="chipIcon" center>swap_vert</v-icon>
          </v-chip>
        </v-flex>

        <v-flex xs12 sm12 md12 v-if="brands.length > 0">
          <v-chip  dark class="chip"  small>
            <v-icon   class="chipIcon" left>directions_car</v-icon>
            {{ brands.length }}
          </v-chip>
        </v-flex>

        <!-- <v-flex xs12 sm12 md12 v-else>
          <v-chip>
            <v-icon left>directions_car</v-icon>

            Nenhuma marca
          </v-chip>
        </v-flex>-->
      </v-layout>

      <!--<v-flex xs12 sm6 md12 class="mx-auto mb-1">
          <vs-chip color="grey">
            <vs-avatar icon="swap_vert" v-on:click="toogleOrder()" />
            {{ (order == 'asc') ? 'Crescente' : 'Decrescente' }}
          </vs-chip>
        </v-flex>

        <v-flex xs12 sm6 md12>
          <vs-chip id="version-chip" color="grey" class="mb-4">
            <vs-avatar icon="directions_car" />
            <span v-if="brands.length > 0">Marcas cadastradas: {{ brands.length }}</span>
            <span v-else>Nenhuma modelo cadastrado.</span>
          </vs-chip>
      </v-flex>-->

      <v-layout fill-height>
        <section id="brands" class="card-columns animated-cards">
          <v-card  flat v-for="brand in brands" v-bind:key="brand.id" class="mx-2" style="background-color: transparent !important">
            <v-card  style="background-color: transparent !important " flat v-if="!brand.hide" class="brand card text-center">
              <div class="card-top mt-3">
                <a :href="goToCar(brand.id)"  style="display: inline-block;">
                  <img class="card-img-grid" v-bind:src="brand.logo" />
                </a>
                  <h5 class="card-title">{{ brand.name }}</h5>
              </div>
              <v-card flat class="card-body" style="background-color: transparent !important">
                <v-layout column justify-center align-center>
                  <v-flex md6>
                    <v-btn class="custom-btn2" v-on:click="edit(brand.id)" fab outlined small color="grey">
                      <v-icon small class="custom-btn2">create</v-icon>
                    </v-btn>
                    <v-btn class="custom-btn2"  v-on:click="deleteItem(brand.id)" fab outlined small color="grey">
                      <v-icon small class="custom-btn2">delete</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-card>
          </v-card>
        </section>
      </v-layout>
    </v-layout>
    <Delete ref="Delete" />
  </v-container>
</template>
<script>
import Delete from "../Dialogs/Delete";


export default {
  components: { Delete },

  data() {
    return {
      items: [
        {
          text: 'Marcas',
          disabled: false,
          href: '/brand',
        },
      ],
      brands: [],
      brand_id: "",
      order: "asc",
      activeConfirm: false,
      searchBrand: ""
    };
      this.$refs.BrandDialog.open(id);
  },

  watch: {
    searchBrand() {
      let ret = new RegExp(this.searchBrand.toLowerCase());

      for (let brand of this.brands) {
        brand.hide = !brand.name.toLowerCase().match(ret);
      }
    }
  },

  methods: {
    toogleOrder() {
      if (this.order == "asc") this.order = "desc";
      else if (this.order == "desc") this.order = "asc";
      this.getBrands();
    },

    initialize: function() {
      let me = this;
      this.getBrands();

      // LISTENERS
      this.$eventHub.$on("brand-created", (brand) => {
        me.brands.push(brand);
      });
      this.$eventHub.$on("brand-updated", (brand) => {
        let pos = me.brands.map(e => e.id).indexOf(brand.id);
        Vue.set(me.brands, pos, brand);
      });

    },

    getBrands: function()
    {
      this.brands = [];
      axios.get(this.buildUrlGet()).then(({ data }) => {
        data.forEach(brand => {
          this.brands.push(brand);
        });
      });
      console.log(this.brands);
    },

    buildUrlGet: function() {
      let url = "/iapi/brand?limit=2000";
      url += "&" + window.location.search.substring(1);
      url += "&order=" + this.order;
      return url;
    },

    edit: function(id) {
      this.$eventHub.$emit("edit-brand", id);
    },

    remove: function(id) {
      if (id != null) {
        if (!confirm("Você tem certeza que deseja excluir essa marca?"))
          return false;

        axios.delete("/iapi/brand/" + id).then(response => {
          vueToast("Marca excluida com sucesso!", "success");

          let pos = this.brands.map(e => e.id).indexOf(id);
          if (pos != null) this.brands.splice(pos, 1);
        });
      }
    },

    deleteItem(id) {
      this.$refs.Delete.open(id, "esta", "marca", this.acceptAlert.bind(this));
    },

    acceptAlert(parameters) {
      console.log(parameters);
      if (parameters != null) {
        axios.delete("/iapi/brand/" + parameters).then(response => {
          if (response.status == 200) {
            vueToast("Marca excluida com sucesso!", "success");
            let pos = this.brands.map(e => e.parameters).indexOf(parameters);

            if (pos != null) this.brands.splice(pos, 1);
          } else vueToast("Erro ao excluir marca", "danger");
        });
      }
    },

    goToCar(id) {
      return "/car?brand=" + id;
    },
  },
  created() {
    let me = this;
    this.getBrands();

    this.$eventHub.$on("brand-created", function(brand) {
      me.brands.push(brand);
    });
    this.$eventHub.$on("brand-updated", function(brand) {
      let pos = me.brands.map(e => e.id).indexOf(brand.id);
      Vue.set(me.brands, pos, brand);
    });
  },

  searchBrands() {
    console.log(this.search, this.brands);
  }

};
</script>


</<style>


.custom-btn:hover{
  background-color: #d44100 !important;
  color: white !important;
   transition: all .3s;
}




  .custom-btn{
    color: #d44100 !important;
}



 .custom-btn2{
        color: black !important;
         transition: all .3s;
  }
  .custom-btn2:hover {
  background-color: grey!important;
  color: white !important;
   transition: all .3s;

}

.searchField:hover{
  color: #d44100  !important;
}

.chipIcon{

  color: white !important;

}

.chip{

  background-color: #777778 !important;
  text-color: white;
}





</style>


