
<template>

    <section id="brand-detail">        
        <vs-row>
            <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                <img class="logo img-fluid mt-4" v-bind:src="brand.logo" style="max-width: 300px !important; max-height: 300px !important;">
            </vs-col>
        </vs-row>
      <!--  <h1>{{ brand.name }}</h1> -->

    </section>
</template>

<script>
    export default {
        data() {
            return {
                brand: {
                    id: '',
                    name: '',
                    logo: '',
                }
            }
        },
        methods: {
            getBrand: function(){
                if(typeof urlParams.brand != 'undefined'){
                    this.brand.id = urlParams.brand;

                    axios.get('/iapi/brand/'+this.brand.id).then(({ data }) => {
                        this.brand = data;
                    });
                }
            },
        },
        created() {
            this.getBrand();
        }
    }
</script>


<style>
#brand-detail{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
}
#brand-detail .title{
    margin-top: 25px;
    width: 100%;
    text-align: center;
    color: black;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, .5);
    width: auto;
    padding: 15px;
    text-transform: uppercase;
}
#brand-detail .logo{
    width: 100% !important;
    max-height: 450px !important;
}
img
{
    max-width: 100% !important;
}
</style>
