<template>
  <!--   <vs-row>
        <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
            <div class="centerx">
    <vs-button radius v-on:click="clean()" @click="openModal=true" color="dark" type="border" id="btn-openModal" icon="add"></vs-button>
    <vs-popup classContent="popup-example" id="popup-model"  title="Nova marca" :active.sync="openModal">
        <form class="centerx" id="form-model" @submit.prevent="submit">
            <vs-row>
                <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                    <vs-input label-placeholder="Nome da Marca" color="dark" v-model="brand.name" required/>
                </vs-col>
            </vs-row>
            
            <vs-row>
                <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                    <div class="centerx">
                        <label for='image' type="border" class="vs-component vs-button vs-button-dark vs-button-border" >Selecionar um arquivo &#187;</label>
                        <vs-input id='image' type='file' accept="image/*" @change="previewFile" name="image"/>
                    </div>
                </vs-col>
            </vs-row>
            <div  class="div-img">      
		        <img v-if="brand.logo != null" v-bind:src="brand.logo" class="img-logo">
            </div>
            <vs-row>
                <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                    <vs-button v-on:click="sendModel" type="border" color="dark" vs-w="6" class="save">Salvar</vs-button>
                </vs-col>
            </vs-row>
        </form>
    </vs-popup>
    </div>
  </vs-col>-->

  <vs-row>
    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
      <div class="text-xs-center">
        <vs-button
          radius
          v-on:click="clean()"
          @click="openModal=true"
          color="dark"
          type="border"
          id="btn-openModal"
          icon="add"
        ></vs-button>

        <v-dialog v-model="openModal" persistent max-width="600">
          <v-card outlined>
            <v-card-title class="headline mt-2">Nova marca</v-card-title>
            <v-divider class="mb-2" />
            <form class="centerx" id="form-model" @submit.prevent="submit">
              <v-flex xs6sm6 md6 class="mx-auto">
                <v-text-field
                  v-model="brand.name"
                  required
                  placeholder="Nome da marca"
                  rounded
                  autofocus
                  outlined
                ></v-text-field>
              </v-flex>

              <vs-row>
                <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                  <div class="text-xs-center">
                    <label
                      for="image"
                      type="border"
                      class="vs-component vs-button vs-button-dark vs-button-border"
                    >Selecionar um arquivo &#187;</label>
                    <vs-input
                      id="image"
                      type="file"
                      accept="image/*"
                      @change="previewFile"
                      name="image"
                    />
                  </div>
                </vs-col>
              </vs-row>
              <div class="div-img">
                <img v-if="brand.logo != null" v-bind:src="brand.logo" class="img-logo" />
              </div>

              <!--        <vs-row>
                <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                  <vs-button
                    v-on:click="sendModel"
                    type="border"
                    color="dark"
                    vs-w="6"
                    class="save"
                  >Salvar</vs-button>
                </vs-col>
              </vs-row>-->

              <v-divider />
            </form>

            <v-layout style="justify-content: flex-end" class="mb-3 mr-2">
            
                <v-btn rounded small outlined class="custom-btn2" @click="close">Cancelar</v-btn>

                <v-btn rounded small outlined class="custom-btn ml-1" @click="sendModel">Confirmar</v-btn>
             
            </v-layout>
          </v-card>
        </v-dialog>
      </div>
    </vs-col>
  </vs-row>
</template>

<script>
export default {
  data() {
    return {
      errors: [],
      brand: {
        id: null,
        name: "",
        logo: null,
        image: null
      },
      openModal: false,
      edit: false,
    };
  },
  methods: {
    close() {
      this.openModal = false;
    },
    checkForm: function(e) {
      if (this.brand.name && (this.brand.id || this.brand.image)) {
        return true;
      }

      this.errors = [];

      if (!this.brand.name) {
        this.errors.push("O nome é obrigatório.");
      }
      if (!this.brand.id && !this.brand.image) {
        this.errors.push("A imagem é obrigatória.");
      }

      // e.preventDefault();
    },
    previewFile: function(e) {
      let me = this;
      let logo = e.target.files[0];
      console.log(logo);
      if (logo != null) {
        this.brand.image = logo;
        this.brand.logo = URL.createObjectURL(logo);
      }
    },
    sendModel: function() {
      let formData = objToFormData(this.brand);

      let url = "/iapi/brand";
      let event = "brand-created";
      let toast_message = "Marca cadastrada com sucesso";

      if (this.brand.id != null) {
        url += "/" + this.brand.id;
        event = "brand-updated";
        toast_message = "Marca editada com sucesso";
      }

      console.log(event);

      axios
        .post(url, formData)
        .then(response => {
          let brand = response.data;

          vueToast(toast_message, "success");

          this.$eventHub.$emit(event, {
            id: brand.id,
            name: brand.name,
            logo: brand.logo
          });

          this.clean();
          this.openModal = false;
        })
        .catch(error => {
          console.error(error);
        });
    },
    clean: function() {
      this.brand = {
        name: "",
        logo: null,
        image: null
      };
    }
  },
  created() {
    let me = this;
    this.edit = true;
    console.log('caiu', this.edit)
 
    this.$eventHub.$on("edit-brand", function(id) {
      me.openModal = true;
      axios.get("/iapi/brand/" + id).then(response => {
        let brand = response.data;
        me.brand.id = brand.id;
        me.brand.name = brand.name;
        me.brand.logo = brand.logo;
      });
    });    
  }
};
</script>
<style>
.save {
  margin-top: 15px;
}
.img-logo {
  max-width: 300px;
}
.div-img {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
input[type="file"] {
  display: none;
}
label {
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px;
}
</style>